@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2 class="text-white">Mesa grande #: 1</h2>
            <h2 class="text-white">Orden #: 1</h2>
        </div>
        <div class="col">
            <h3 class="text-white">Estado:Solicitado</h3>
        </div>
    </div>
</div>

<br />

<form>
    <table class="table table-borderless table-dark table-hover align-items-center" id="tablaOrdenes">
        <thead>
            <tr>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Pedido</th>
                <th class="text-center">Precio</th>
                <th class="text-center"></th>
                <th class="text-center">Menu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1.00</td>
                <td class="text-center">Coca Cola</td>
                <td class="text-center">$0.75</td>
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="">
                        <button class="btn btn-primary" onclick="" asp-area="" asp-controller="Home" asp-action="Comentario">Comentario</button>
                        <button class="btn btn-danger" onclick="" asp-area="" asp-controller="Home" asp-action="Eliminar">Eliminar</button>
                    </div>
                </td>
                <td class="text-center">
                    <div class="btn-group-vertical" role="group" aria-label="Menu">
                        <button class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Bebidas">Bebidas</button>
                        <br />
                        <button class="btn btn-secondary" onclick="" asp-area="" asp-controller="Home" asp-action="Snacks">Snacks</button>
                        <br />
                        <button class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Comida">Comida</button>
                        <br />
                        <button class="btn btn-secondary" onclick="" asp-area="" asp-controller="Home" asp-action="Pasteles">Pasteles</button>
                        <br />
                        <button class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Combos">Combos</button>
                        <br />
                        <button class="btn btn-secondary" onclick="" asp-area="" asp-controller="Home" asp-action="Promociones">Promociones</button>
                        <br />
                    </div>
                </td>
            </tr>
        </tbody>
        <th class="text-center">TOTAL: $0.75</th>
    </table>
    <div class="row">
        <div class="col text-left">
            <button class="btn btn-success" onclick="" asp-area="" asp-controller="Home" asp-action="Ordenar">Ordenar</button>
            <button class="btn btn-primary" onclick="" asp-area="" asp-controller="Home" asp-action="VerCuenta">Ver cuenta</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-danger" onclick="" asp-area="" asp-controller="Home" asp-action="CancelarCuenta">CANCELAR CUENTA</button>
        </div>
    </div>
</form>
